{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="{%static 'styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="wrapper">
                <!-- the nav menu and the logo should be here -->
                
                <ul>
                    <li><a href="/homebase/overview"><img src="{%static 'assets/homebase-logo.png' %}" alt="navigate to homebase"></a></li>
                    <li><a href="#">Teams</a></li>
                    <li><a href="#">Leaderboards</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="wrapper">
            <div class="upperRow">
                <div class="logoContainer">
                    <img src="https://www.mlbstatic.com/team-logos/{{teamId}}.svg" alt="team logo for {{team}}">
                </div>
                
                <div class="teamHeader">
                    <h1>{{team}}</h1>
                    <h2>{{subStats.standing}} {{subStats.wl}} {{subStats.gb}}</h2>
                </div>
                <div class="pill">
                    <ul>
                        <li><a href="/homebase/overview/team-{{teamId}}/hitters/" class="hittersLink {% if mode == 'hitters'%}
                            currentMode
                            {% endif %}
                            ">Hitters</a></li>
                        <li><a href="/homebase/overview/team-{{teamId}}/pitchers/" class="pitchersLink {% if mode == 'pitchers'%}
                            currentMode
                            {% endif %}">Pitchers</a></li>
                    </ul>
                </div>
            </div>

            {% if mode == 'hitters' %}
            <table class="teamTable">
                <tr class="headerRow">
                    <th>Pos</th>
                    <th>#</th>
                    <th colspan="2">Player</th>
                    <th>Age</th>
                    <th>B</th>
                    <th>T</th>
                    <th>PA</th>
                    <th>H</th>
                    <th>2B</th>
                    <th>3B</th>
                    <th>HR</th>
                    <th>SB</th>
                    <th>SO%</th>
                    <th>BB%</th>
                    <th>AVG</th>
                    <th>OBP</th>
                    <th>OPS</th>
                </tr>
                {%for player in hitters%}
                    <tr>
                        <td>{{player.pos}}</td>
                        <td>{{player.jerseyNumber}}</td>
                        <td class="playerImageContainer"><img src="https://content.mlb.com/images/headshots/current/60x60/{{player.playerId}}.png" alt="{{player.name}}"></td>
                        <td><a href="player-{{player.playerId}}/" class="playerLink">{{player.name}}</a></td>
                        <td>{{player.age}}</td>
                        <td>{{player.batside}}</td>
                        <td>{{player.pitchHand}}</td>
                        <td>{{player.pa}}</td>
                        <td>{{player.hits}}</td>
                        <td>{{player.doubles}}</td>
                        <td>{{player.triples}}</td>
                        <td>{{player.hr}}</td>
                        <td>{{player.sb}}</td>
                        <td>{{player.so}}</td>
                        <td>{{player.bb}}</td>
                        <td>{{player.avg}}</td>
                        <td>{{player.obp}}</td>
                        <td>{{player.ops}}</td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
            <!-- similar table for pitchers -->
            <table class="teamTable">
                <tr class="headerRow">
                    <th>Pos</th>
                    <th>#</th>
                    <th colspan="2">Player</th>
                    <th>Age</th>
                    <th>T</th>
                    <th>IP</th>
                    <th>ERA</th>
                    <th>SO</th>
                    <th>BB</th>
                    <th>SO%</th>
                    <th>BB%</th>
                    <th>HR/9</th>
                    <th>OPS</th>
                </tr>
                {%for player in pitchers%}
                    <tr>
                        <td>{{player.pos}}</td>
                        <td>{{player.jerseyNumber}}</td>
                        <td class="playerImageContainer"><img src="https://content.mlb.com/images/headshots/current/60x60/{{player.playerId}}.png" alt="{{player.name}}"></td>
                        <td><a href="player-{{player.playerId}}/" class="playerLink">{{player.name}}</a></td>
                        <td>{{player.age}}</td>
                        <td>{{player.pitchHand}}</td>
                        <td>{{player.ip}}</td>
                        <td>{{player.era}}</td>
                        <td>{{player.so}}</td>
                        <td>{{player.bb}}</td>
                        <td>SO%</td>
                        <td>BB%</td>
                        <td>{{player.hr9}}</td>
                        <td>{{player.ops}}</td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
        
    </main>
    
</body>
</html>